{% extends 'base.html.twig' %}

{% block body %}
    <p>
        {% trans %}
            In order to manage your Frama.space, you must log in using a link that will be sent to the email associated with your space.
        {% endtrans %}
    </p>

    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="POST">
        <div class="mb-3">
            <label for="input-email-email-token" class="form-label">{% trans %}Email address{% endtrans %}</label>
            <input type="email" name="email" class="form-control" id="input-email-email-token" aria-describedby="help-email-email-token" autocomplete="email">
            <div id="help-email-email-token" class="form-text">{% trans %}The contact email used to manage your Frama.space{% endtrans %}</div>
        </div>
        <button type="submit" class="btn btn-primary">{% trans %}Send Login Link{% endtrans %}</button>
    </form>
{% endblock %}