<p><b>Collabora Online</b></p>
<p>{% trans %}Collabora Online is an open-source software (MPL) developed by Collabora Productivity and based on LibreOffice (previously OpenOffice).{% endtrans %}</p>
<ul>
    <li>{% trans %}Preferred if you mainly use LibreOffice formats (.odt, .ods, .odp, …){% endtrans %}</li>
</ul>