<p><b>OnlyOffice</b></p>
<p>{% trans %}OnlyOffice is an open-source software (AGPL) developped by Ascensio System SIA.{% endtrans %}</p>
<ul>
    <li>{% trans %}Preferred if you mainly use Microsoft Office formats (.docx, .xlsx, .pptx, …){% endtrans %}</li>
</ul>