{% if ea.crud.currentAction == 'detail' %}
    {% if 'toMany' == field.customOptions.get('associationType') %}
        <span class="badge badge-secondary">{{ field.formattedValue }}</span>
    {% else %}
        {% if field.customOptions.get('relatedUrl') is not null %}
            <a href="{{ field.customOptions.get('relatedUrl') }}">{{ field.formattedValue }}</a>
        {% else %}
            {{ field.formattedValue }}
        {% endif %}
    {% endif %}
{% endif %}

{% if field.formattedValue %}
<i class="fa-solid fa-star"></i>
{% endif %}