{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.formattedValue > 70 %}
    <span class="badge badge-success">{{ field.formattedValue }}%</span>
{% elseif field.formattedValue < 50 %}
    <span class="badge badge-danger">{{ field.formattedValue }}%</span>
{% else %}
    <span class="badge badge-info">{{ field.formattedValue }}%</span>
{% endif %}
