{% extends 'base.html.twig' %}

{% block body %}
    <section>
    <h1>Liste des espaces</h1>
    <ul>
    {% for space in spaces %}
        <li>
        {{ space.id }}
        {{ space.domain }}
        </li>
    {% endfor %}
    </ul>
    </section>
    <section>
        <h1>Liste des soumissions</h1>
        <ul>
            {% for submission in submissions %}
            <li>
                {{  submission.name }}
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}