{% extends 'base.html.twig' %}


{% block body %}

    <a href="{{ path('admin') }}">{% trans %}Back to administration{% endtrans %}</a>
<div class="row">
    <div class="col">
        {{ render_chart(approved_submissions_by_type) }}
    </div>
    <div class="col">
        {{ render_chart(new_spaces_by_month) }}
    </div>
    <div class="col">
        {{ render_chart(space_office_type) }}
    </div>
</div>

    <a href="{{ path('admin') }}">{% trans %}Back to administration{% endtrans %}</a>

{% endblock %}