{{ component('label', {field: field, tooltip: tooltip ?? null, inline_tooltip: inline_tooltip}) }}
{% if inputGroup %}
<div class="input-group">
    {{ form_widget(field) }}
    <span class="input-group-text">{{ inputGroup }}</span>
</div>
{% elseif inline_tooltip %}
    <div class="row">
        <div class="col-lg-11 col-10">
            {{ form_widget(field) }}
        </div>
        {% if tooltip %}
        <div class="col-lg-1 col-1">
            <button type="button" class="btn btn-sm btn-link" data-charon-data-usage data-bs-content="{{ tooltip }}" data-bs-title="{% trans %}Why do we need this information?{% endtrans %}"><span>
                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc.--><path
                            d="M256 0c-4.6 0-9.2 1-13.3 2.9L54.3 82.8c-22 9.3-38.4 31-38.3 57.2.5 99.2 41.3 280.7 213.5 363.2 16.7 8 36.1 8 52.8 0C454.7 420.7 495.5 239.2 496 140c.1-26.2-16.3-47.9-38.3-57.2L269.4 2.9C265.2 1 260.6 0 256 0zm-17.418 127.992h51.1c39.9 0 70.9 31 70 70 0 24-13 47-34 60l-45.1 28v2c0 13-11 24-24 24s-24-11-24-24v-16c0-8 4-16 12-21l57-34.9c7-4 11-10.1 11-18.1 0-12-10.9-22-23.8-22h-51.1c-12 0-21.1 10-21.1 22 0 13-11 24-24 24s-24-11-24-24c0-39 31-70 70-70zm18 208c17.1 0 32 14 32 32s-14.9 32-32 32c-18.9 0-32-14-32-32s14-32 32-32z"></path></svg>
            </span>
                <span class="visually-hidden">{% trans %}Information on data collection{% endtrans %}</span>
            </button>
        </div>
        {% endif %}
    </div>
{% else %}
    {{ form_widget(field) }}
{% endif %}
{{ form_help(field) }}
{{- form_errors(field) -}}