{% extends 'base.html.twig' %}

{% block title %}{% trans with {'organization': organization} %}Edit the details for {organization}{% endtrans %}{% endblock %}

{% block body %}
    {% for message in app.flashes('info') %}
        <div class="flash-notice alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% if has_ongoing_jobs %}
        <div class="alert alert-warning" role="alert">
            {% trans %}Managing this space is temporarily disabled as there's ongoing work to apply previous modifications. Please come back in a few minutes.{% endtrans %}
        </div>
    {% endif %}
    {% if deleted_at %}
        <div class="alert alert-danger" role="alert">
            <p>{% trans with {'deleted_at': real_deletion_date} %}This space is scheduled to be deleted on {deleted_at, date}.{% endtrans %}</p>
            <a href="{{ path('pre-reactivate') }}" class="btn btn-success">{% trans %}Reactivate my space{% endtrans %}</a>
        </div>
    {% endif %}
    {{ form(form) }}

    {% if not has_ongoing_jobs and not deleted_at %}
        <a class="btn btn-danger" href="{{ path('pre-delete') }}">{% trans %}Delete space{% endtrans %}</a>
    {% endif %}
{% endblock %}