{% extends 'base.html.twig' %}

{% block title %}{% trans with {'organization': organization} %}Import users for {organization}{% endtrans %}{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}