{% extends 'email.html.twig' %}

{% block content %}
    <p>{% trans %}The creation of your Frama.space has been approved by our moderation team.{% endtrans %}</p>
    <p>{% trans %}We are installing and configuring your organization's Frama.space. You should receive an email with the details to connect to your Frama.space very soon.{% endtrans %}</p>
    <p>{{ 'In the meantime, you can read <a href="#">our checklist for configuring a new Frama.space</a>.' | trans | raw }}</p>
{% endblock %}