{% extends 'email.html.twig' %}

{% block content %}
    <p>{% trans %}We confirm the creation of your Frama.space for %organization%.{% endtrans %}</p>
    <ul>
        <li>{% trans %}Address:{% endtrans %} <a href="https://{{ space.domain }}.frama.space" target="_blank">https://{{ space.domain }}.frama.space</a></li>
        <li>{% trans %}Contact email:{% endtrans %} <i>{{ space.contactEmail }}</i></li>
    </ul>
    <p>{{ 'Start exploring with your account and follow <a href="#" target="_blank">our guides</a>' | trans | raw }}</p>
{% endblock %}