{% extends 'email.html.twig' %}

{% block content %}
    <p>{% trans %}You have been invited to join Frama.space.{% endtrans %}</p>
    <p>{% trans %}We have generated a special invite link for your organisation:{% endtrans %}</p>
    <p class="text-center">
        <a class="btn btn-primary" href="{{ url('app_index_newsubmission', { inviteToken: invite.token }) }}">{% trans %}Register on Frama.space{% endtrans %}</a>
    </p>
{% endblock %}