{% extends 'email.html.twig' %}

{% block content %}
    <p>{% trans %}The creation of your Frama.space is pending.{% endtrans %}</p>
    <p>{% trans %}Our moderation team will review your application.{% endtrans %}</p>
{% endblock %}