{% extends 'email.html.twig' %}

{% block content %}
    <p>{% trans %}The creation request of your Frama.space for %organization% has been rejected.{% endtrans %}</p>
    <p>{% trans %}Sorry{% endtrans %}</p>
{% endblock %}